@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    opacity: 0.7;
}

.logo {
    padding: 0 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    color: rgb(123, 109, 252);
    text-decoration: dashed;
    text-transform: uppercase;
}

section {
    padding: 200px 100px;
}

#navig {
    background-color: rgb(64, 59, 73);
}

#navig:hover {
    color: rgb(113, 173, 241);
}

.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://www.xmple.com/wallpaper/dual-blue-striped-gingham-black-1920x1080-c2-000000-6495ed-l-280-a-30-f-13.svg);
    background-size: cover;
    color: rgb(123, 109, 252);
    display: flex;
    align-items: center;
}

.main .btn {
    background-color: rgb(123, 109, 252);
    color: black;
    padding: 5px;
    display: inline-block;
    font-size: 0.9em;
    padding: 0.9375em;
    text-decoration: none;
}